<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RestoFinder</title>
  <link rel="icon" type="image/x-icon" href="../public/images/logo/logo.png">
</head>

<body id="body">
  <a href="#maincontent" class="skip">Skip to Main</a>
  <header-floating></header-floating>

  <main></main>

  <footer>
    <footer-wrapper class="footer"></footer-wrapper>
  </footer>
</body>

</html>