<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="logo">
      <img src="./images/logo/logo.png" width="40" alt="Logo RestoFinder">
      <h1>RestoFinder</h1>
    </div>
    <button type="button" id="expand">☰</button>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="intro">
      <div class="container">
        <h1>Find food ideal</h1>
        <article class="row">
          <div class="content">
            <article>
              <h2><img src="./icons/burger.svg" alt="icon burger" class="icon">Burger</h2>
              <img src="./images/heros/hero-image_1.jpg" alt="gambar">
            </article>
            <article>
              <h2><img src="./icons/icecream.svg" alt="icon burger" class="icon">Ice Cream</h2>
              <img src="./images/heros/hero-image_1.jpg" alt="gambar">
            </article>
          </div>
          <div class="content">
            <article>
              <h2><img src="./icons/burger.svg" alt="icon burger" class="icon">Burger</h2>
              <img src="./images/heros/hero-image_1.jpg" alt="gambar">
            </article>
            <article>
              <h2><img src="./icons/icecream.svg" alt="icon burger" class="icon">Ice Cream</h2>
              <img src="./images/heros/hero-image_1.jpg" alt="gambar">
            </article>
          </div>
        </article>
      </div>
    </section>
  </main>
  <footer>

  </footer>
</body>

</html>