<article>
    <picture style="text-align: center;">
        <source media="(max-width: 600px)" srcset="./public/images/heros/orang-sawah-small.webp">
        <img src="./public/images/heros/orang-sawah-large.webp" width="120" height="250" alt="Logo RestoFinder" id="scareCrow">
    </picture>
    <h1>Oh no, Kamu belum menambahkan favorite</h1>
    <p>
        Kamu dapat mencoba menambahkannya pada setiap menu restaurant yang ada di website ini, <br>
        dengan menekan tombol ❤
    </p>
    <a href="#/">Tambahkan Favorite</a>
</article>