.jumbotron {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(180deg, rgb(23 23 23 / 75%), rgb(17 17 17 / 47%) 80%, #1c1c1c);
    position: relative;

    img {
        min-width: 1000px;
        position: absolute;
        z-index: -1;
        top: 0;
    }

    .wave {
        width: 50%;
        top: unset;
        bottom: 0;
        z-index: 1;
    }

    article { 
        margin: 0 auto;

        h1,
        p {
            color: white;
            text-align: center;

            span {
                color: rgb(255, 130, 130);
            }
        }

        h1 {
            margin-top: 22vh;
            margin-bottom: 20px;
            font-size: 2.4rem;
            line-height: 8vh;
        }

        p {
            font-family: sans-serif;
        }
    }
}

.intro {
    min-height: 120vh;
    padding-top: 5vh;
    position: relative;
    overflow: hidden;

    .bg-grey {
        width: 70%;
        height: 100%;
        background-color: rgb(239, 239, 239);
        position: absolute;
        top: 0;
        z-index: -1;
        border-top-right-radius: 50px;
    }

    .title {

        h1,
        p {
            font-family: 'mukta-medium';
            text-align: center;
        }

        h1 {
            font-size: 1.8rem;
        }

        img {
            display: none;
        }
    }

    .container {
        font-family: 'mukta-medium';

        .row {
            display: flex;
            flex-wrap: wrap;
            padding: 15px;

            img {
                width: 100%;
                border-radius: 20px;
                padding: 10px;
            }

            .content1 {
                width: 50%;
            }

            .content2 {
                width: 50%;
                background-image: url('../public/images/heros/hero-image_3.jpg');
                background-size: cover;
                background-position: center;
                border-radius: 20px;
            }

            .content3 {
                width: 100%;
            }

            .icon {
                width: 30px;
                margin-right: 20px;
                position: relative;
                top: 6px;
            }

            .icon-arrow {
                display: none;
            }

            article {
                margin-bottom: 5vh;

                .up {
                    display: flex;
                    flex-direction: column;

                    img {
                        order: 1;
                    }
                }
            }

            img[alt="gambar"] {
                width: 100%;
                border-radius: 15px;
                box-shadow: 2px 3px 8px rgb(101, 101, 101);
                transition: all .3s ease;
                position: relative;
                top: 0;

                &:hover {
                    top: -14px;
                    transform: scale(1.02);
                }
            }
        }
    }
}

.explore {
    padding: 20vh 40px;
    padding-bottom: 0;
    background-color: rgb(239, 239, 239);

    h1 {
        font-size: 2.8rem;
    }

    & > p, h1 {
        text-align: center;
    }

    .container {
        margin: 8vh auto;

        .card {
            background-color: white;
            border-radius: 8px;
            box-shadow: 5px 5px 5px rgb(202, 202, 202);
            overflow: hidden;
            display: inline-block;
            margin-right: 3vh;
            margin-bottom: 40px;
            position: relative;
            transition: all .5s ease;

            &:hover {
                transform: scale(.98);
            }

            a {
                text-decoration: none;
                color: black;

                &:hover {
                    color: #e55a5a;
                }
            }

            .info {
                display: flex;
                justify-content: space-between;

                .city {
                    display: inline-block;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: rgb(255 216 216 / 92%);
                    color: #980000;
                }

                .city,
                .menu {
                    font-family: sans-serif;
                    font-size: .8rem;
                    margin-bottom: 0;
                    padding: 10px;
                }

                .menu {
                    display: inline-block;
                    position: relative;
                    right: 0;
                    font-family: 'mukta-medium';
                    font-size: 1.06rem;
                    padding: 0;
                }
            }

            img {
                width: 100%;
            }

            h2,
            span {
                display: block;
                font-family: 'mukta-medium', sans-serif;
                line-height: 30px;
            }

            h2,
            span,
            p {
                margin: 20px 20px;
            }

            p {
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;
                margin-bottom: 50px;
            }
            
            .rating {
                display: flex;
                flex-direction: row;
                justify-content: center;

                span,
                p {
                    font-size: 1.2rem;
                    font-family: 'mukta-medium';
                }

                span {
                    margin-top: 2px;
                    margin-bottom: 0;
                    font-weight: bold;
                    color: red;
                }

                p {
                    margin-top: 0;
                }
            }
        }
    }
}

.notfound {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: 100vh;

    article {
        width: 70%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 0 auto;
        border-radius: 30px;
        box-shadow: 4px 2px 5px rgb(228, 228, 228);

        img {
            width: 50%;
        }
        
        img, a {
            margin: 0 auto;

        }

        a {
            padding: 10px;
            border: 1px solid red;
            text-decoration: none;
            font-family: 'mukta-medium';
            border-radius: 5px;
            color: #ff3232;
            margin-bottom: 8vh;
            transition: .3s ease;

            &:hover {
                background-color: #ff3232;
                color: white;
            }
        }

        h1 {
            font-size: 1.8rem;
            margin-bottom: 10px;
            color: #ff3232;
        }

        p {
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.1rem;
            margin-bottom: 5vh;
        }
    }
}

.footer {
    width: 100%;
    background-color: #272727;
    color: white;
    position: relative;
    padding: 5vh 10vh;
    margin-bottom: 0;
    display: block;

    .content,
    .connect {
        text-align: center;
    }

    h1 {
        display: inline-block;
        position: relative;
        top: -10px;
        margin-left: 2vh;
    }

    .connect {
        margin: 10vh 0;

        h2 {
            font-family: 'mukta-medium', sans-serif;
            margin-bottom: 3vh;
        }

        a {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 20px;
            padding-bottom: 10px;
            margin: 0 2px;
            border-radius: 10px;

            &:hover {
                box-shadow: 2px 2px 5px #efefef;
            }

            img {
                position: relative;
                bottom: 0;
                margin: 0 10px;
            }
        }
    }
}