<section class="jumbotron">
    <article>
        <h1>Find a <span> Restaurant </span> <br> that is near you <br> and is <br> <span>currently popular</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eveniet culpa deleniti consectetur, aut tempore
            quia inventore temporibus hic tempora, vel accusantium beatae molestiae tenetur labore minus, eaque
            repellendus nam.</p>
    </article>
    <picture>
        <source type="image/webp" media="(max-width: 600px)" id="sm-webp-image" srcset="">
        <source type="image/png" media="(max-width: 600px)" srcset="">
        <source type="image/webp" srcset="" id="large-webp-image">
        <img src="" alt="" srcset="" width="1000" height="666">
    </picture>
    <img class="wave" alt="">
</section>