@media only screen and (max-width: 505px) {
  header {
    width: 50vh !important;
  }

  .explore {
    .container {
      .card {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 505px) {
  .explore {
    .container {
      .card {
        width: 45%;
      }
    }
  }
}

@media only screen and (min-width: 992px) {

  .vertical {
    display: inline-block !important;
  }

  header {
    width: 75%;

    nav {
      display: flex !important;
      flex-basis: auto !important;
    }

    ul {
      flex-direction: row !important;
    }
    
    button {
      display: none !important;
    }
  }

  .intro {
    .title {
      margin: 5vh 0;
      position: relative;
      display: block;

      h1 {
        font-size: 2.4em;
        color: #272727;
        text-align: center;
      }

      p {
        text-align: center;
        font-size: 1.2rem;
        font-family: sans-serif;
        color: grey;
      }

      .positive,
      .negative {
        position: absolute;
        top: 0;
        display: block;
      }

      .positive {
        left: 28vh;
        transform: rotate(80deg);
      }

      .negative {
        right: 28vh;
        transform: rotate3d(11, 11, 0, 185deg);
      }
    }

    .container {
      margin: 0 10vh;
      
      #title {
        text-align: left;
        font-size: 3rem;
        margin: 0 10vh;
      }

      .d-flex {
        display: flex;
      }

      .row {
        display: flex;
        flex-wrap: wrap;

        img {
          padding: 10px;
        }

        .content1 {
          width: 33.33333333% !important;
          flex-direction: column;

          img[title='gambar1'] {
            width: 65%;
          }

          img[title='gambar2'] {
            width: 100%;
          }
        }

        .content2 {
          width: 33.33333333% !important;
        }

        .content3 {
          width: 33.33333333% !important;
          flex-direction: column;

          img[title='gambar5'] {
            width: 60% !important;
          }
        }

        div.icon-arrow {
          width: 80px;
          margin-left: 10vh;
          display: block;
        }

        .content,
        .content2 {
          width: 85%;
          display: flex;
          margin-bottom: 30px;

          article {
            margin: 0 10px;

            .down {
              position: relative;
              z-index: 1;
            }

            .up {
              display: block;
              margin-top: -6rem;
            }

            .up2 {
              width: 80%;
            }

            h2 {
              text-align: left;

            }
          }
        }

        .content2 {
          width: 96%;

          article:first-child {
            margin-right: 20px;
          }
        }
      }
    }
  }

  .explore {
    .container {
      display: flex;
      flex-direction: column;

      .card {
        width: 42vh;
      }

      .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }

  section.jumbotron {
    
    .wave {
        width: 100%;
        top: unset;
        bottom: 0;
        z-index: 1;
    }

    img {
      width: 100%;
    }

    article { 
      z-index: 2;
      width: 80%;
      margin: unset;

      h1,
      p {
        text-align: left;
        margin-left: 30vh;
      }

      h1 {
        position: relative;
        z-index: 2;
        margin-top: 28vh;
        margin-bottom: 20px;
        font-size: 2.8rem;
      }
    }
  }

  .footer {
    display: flex !important;
    justify-content: space-between;

    div.content,
    .connect {
      text-align: left;
    }

    div.connect {
      margin: 0;
    }
  }
}
